@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height:100vh;
    background-image: url('../assets/desktop-bg.png');
    font-family: 'Raleway', sans-serif;
}

input:focus{
    outline: none;
}

/************** NAVBAR *********************/

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-container, .profile-container{
    flex:0.5;
}

.links-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 8;
}

.links-container a{
    text-decoration: none;
    color: #252323;
    font-weight: 500;
    transition: color 0.3s ease;
}

.links-container a:hover{
    color: #6f6d6d;
}

/*************** MAIN CONTAINER ***************/

.main-container{
    width: inherit;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #252323;
}

/*************** SEARCH BAR *******************/

.search-container{
    background-color: #D9D9D9;
    width: 730px;
    height: 128px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}

.destination-container, .dates-container{
    border-right: 1px solid #252323;
}

.destination-container, .dates-container, .guests-rooms-container{
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex: 1;
}



.headers{
    display: flex;
}

.headers p{
    margin-left: 10px;
}


/**************** GUESTS ******************/

.guests-rooms-inputs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.guests, .rooms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guests-rooms-inputs p{
    font-size: 10px;
}

.guests-rooms-inputs input{
    width: 40px;
    background-color: transparent;
    border: none;
    padding: 5px;
    font-family: inherit;
    font-size: 20px;
    color: #252323;
    text-align: center;
    margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




