@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height:100vh;
    background-image: url('../assets/desktop-bg.png');
    font-family: 'Raleway', sans-serif;
    position: fixed;
}

input:focus{
    outline: none;
}

/************** NAVBAR *********************/

.close-btn{
    display: none;
}

.nav-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
}

.logo-container, .profile-container{
    flex:0.5;
}

.links-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 8;
}

.links-container a{
    text-decoration: none;
    color: #252323;
    font-weight: 500;
    transition: color 0.3s ease;
}

.links-container a:hover{
    color: #6f6d6d;
}

.hamburger-container{
    display: none;
}

.signup{
    display: none;
}

/*************** MAIN CONTAINER ***************/

.main-container{
    width: inherit;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #252323;
}

/*************** SEARCH BAR *******************/

.data-container{
    background-color: rgba(217, 217, 217,0.7);
    width: 800px;
    height: 128px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}

.destination-container, .dates-container{
    border-right: 1px solid #252323;
}

.destination-container, .dates-container, .guests-rooms-container{
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}



.headers{
    display: flex;
}

.headers p{
    margin-left: 10px;
}


/**************** GUESTS ******************/

.guests-rooms-inputs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.guests, .rooms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guests-rooms-inputs p{
    font-size: 10px;
}

.guests-rooms-inputs input{
    width: 40px;
    background-color: transparent;
    border: none;
    padding: 5px;
    font-family: inherit;
    font-size: 20px;
    color: #252323;
    text-align: center;
    margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/***************** DESTINATIONS *********************/

.destination-inputs input{
    font-family: inherit;
    width: 150px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #6f6d6d;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
}

/****************** DATES ********************/

.dates-input{
    margin: 10px 10px;
     display: flex;
     justify-content: space-around;
}

.from-div, .to-div{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.from-div p, .to-div p{
    margin: 10px;
    font-size: 10px;
}

#from, #to{
    background-color: transparent;
    border:none;
    padding: 5px;
    font-family: inherit;
    width: 125px;
}

/******************* BOOKING CONFIRMED ********************/

    .booking-confirmation, .warning{
        display: flex;
        width: 300px;
        padding: 20px;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
        position: absolute;
        background-color: #f0f0f0;
        border-radius: 7px;
        align-self: center;
        margin-left: 280px;
    }

    .warning{
        border: 2px solid #E8AF41;
        display: none;
    }

    .booking-confirmation{
        border: 2px solid #51C256;
        display: none;
    }

    .booking-confirmation img, .warning img{
        height: 30px;
        width: auto;
    }

/************************ BOOK NOW ********************/

.button-container{
    z-index: 0;
    position: relative;
}

.bookNowBtn{
    padding: 14px 50px;
    background-color: #A03534;
    color: #EADFDF;
    border: none;
    font-weight: 500;
    border-radius: 30px;
    font-family: inherit;
    transition: background-color 0.3s ease;
    z-index: 0;
}

.bookNowBtn:hover{
    color: #A03534;
    background-color: #EADFDF;
}

.bookNowBtnMob{
    display: none;
}

/***************** CAROUSEL *******************/

.carousel-container{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;

}

.all-cards{
    display: flex;
    flex: 9;
    justify-content: space-around;
}

.card{
    width: 80%;
    height: 15em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    font-family: inherit;
    font-size: 30px;
    z-index: 0;
    transition: display 5s ease;
    
}

.card-bg{
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    z-index: 1;
    position: relative;
    transition: filter 0.3s ease;
}

.card-content{
    position: absolute;
    width: inherit;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    transition: display 0.3s ease;
}

.card-bg-hover{
    filter: blur(4px);
}

.card p{
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    color: #FFF;
    z-index: 2;
}



.card button{
    position: absolute;
    bottom: 30px;
    font-family: inherit;
    background-color: #F1F0F0;
    color: #4E4B4B;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    z-index: 2;
}

.carousel-btn-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll{
    padding: 16px 17px;
    background-color: #A03534;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.scroll:hover{
    background-color: #661d1c;
}

.scroll:disabled{
    background-color: rgba(160, 53, 52,0.7);
}

.c3,.c4,.c5{
    display: none;
}

/*************** RESPONSIVE ******************/

@media screen and (max-width:960px){

    /************* MAIN ******************/

    body{
        width: max-content;
        height: max-content;
    }

    /************* CARDS ****************/
    
    .card{
        width: 98%;
    }

    .c2{
        display: none;
    }

    .card-content{
        position: absolute;
        width: inherit;
        height: inherit;
        align-items: flex-start;
        justify-content:flex-end;
        margin-left: 10%;
        margin-bottom: 10%;;
        flex-direction: column;
        display: flex;
        transition: display 0.3s ease;
    }

    .card-content button{
        display: none;
    }

    /************* NAVBAR ***************/

    .nav-container{
        width: 100vw;
        display: flex;
        justify-content: space-around;
    }

    .logo-container img{
        width: 200px;
        height: auto;
    }

    .hamburger-container{
        display: flex;
    }

    .hamburger-container img{
        width: 20px;
        height: auto;
    }

    .signup{
        display: flex;
    }

    .profile-container{
        display: none;
    }

    .nav-container{
        z-index: 0;
    }

     .links-container{
        z-index: 1;
        height: 90vh;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
         position:absolute;
         background-color: #A03534;
         display: none;
         top: 0;
         right: 0;
        margin-left: 50%;
    } 

    .links-container a{
        color: #FFF;
    }

    /******************* SEARCH BLOCK ****************/

    .main-container{
        height: auto;
    }

    .data-container{
        width: max-content;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        margin-bottom: 10px;
    }

    .destination-container, .dates-container, .guests-rooms-container{
        border: none;
        margin: 10px;
    }

    .destination-container, .dates-container{
        padding: 10px;
    }

    .destination-inputs input{
        border-bottom: 1px dashed black;
    }

    .headers p{
        font-size: 12px;
    }

    .headers img{
        height: 15px;
        width: auto;
    }

    .destination-inputs input{
        margin: none;
        width: 70%;
    }

    #from, #to{
        width: 100px;
        font-size: 10px;
    }

    .dates-input{
        margin: 10px 10px 0 10px;
    }

    .dates-input p{
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .from-div, .to-div{
        margin: 0;
    }
    
    .guests-rooms-inputs{
        margin-top: 0;
    }

    .guests-rooms-inputs input{
        margin-bottom: 0;
    }

    /******************* BOOK NOW *******************/

    .data-container{
        background-color: transparent;
        
    }
    
    .search-container{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgba(217, 217, 217,0.7);
        margin-bottom: 10px;
    }

    .bookNowBtn{
        display: none;
    }

    .bookNowBtnMob{
        display: flex;
        margin-left: 10px;
    }

    .bookNowBtnMob img{
        padding: 2px;
    }

    .booking-confirmation, .warning{
        margin-left: 0;
    }

    /******************* CAROUSEL ********************/

    .carousel-container{
        width: 99%;
    }

    .card{
        height: 9em;
        
    }

    .card-bg{
        border-radius: 7px;
    }

    .card-bg:hover{
        filter: none;
    }

    .scroll img{
        height: 15px;
        width: auto;
    }

    .scroll{
        padding: 10px 10px;
    }

    .card-content p{
        font-size: 15px;
    }

    
}